<div id="page1" class="intro">
  <img src="/images/logo.png" id="logo" alt="News Butler logo" />

  <div id="box">
    <h1>Hello, I am Jenkins, your personal news butler</h1>
    <p>
      I pick the freshest and only the most relevant information from a handful of trustworthy pages around the web and deliver them to you as a little snack - whenever you are ready for a prompt update about what’s happening in the outside world.
    </p>
    <p id="booking">
      May I ask you to click here, to book my services?
    </p>
  </div>
</div>

<div id="page2" class="intro">
  <div id="registration">
      <h1>Please tell me: When and where to?</h1>
      <form action="/mail" accept-charset="UTF-8" method="post">
        <input type="mail" required name="mail" placeholder="Your email adress">
        <input type="time" required name="time">
        <button type="submit" name="action">Bring it!</button>
      </form>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#booking").click(function(){
      $("#page1").css("margin-top","-200%");
    });
  });
</script>
