<header>
  <a id="dashboard" href="dashboard">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="960px" height="560px" viewBox="0 0 960 560" enable-background="new 0 0 960 560" xml:space="preserve">
    <g>
    	<path d="M676.337,89.232c-3.92-2.67-8.901-3.252-13.346-1.537L481,158.377L299.009,87.696c-4.426-1.716-9.421-1.133-13.346,1.537
    		c-3.92,2.688-6.263,7.132-6.263,11.881v283.62c0,5.904,3.606,11.209,9.094,13.382L475.7,472.259
    		c0.157,0.063,0.331,0.041,0.493,0.095c1.559,0.56,3.167,0.918,4.807,0.918s3.253-0.358,4.807-0.918
    		c0.166-0.054,0.336-0.031,0.493-0.095l187.206-74.144c5.487-2.173,9.094-7.478,9.094-13.382v-283.62
    		C682.6,96.365,680.257,91.921,676.337,89.232z M308.193,122.156l158.409,61.52v254.021l-158.409-62.747V122.156z M653.807,374.949
    		l-158.412,62.742V183.676l158.408-61.52v252.793H653.807z"/>
    	<path d="M525.083,246.485c1.734,0,3.49-0.314,5.21-0.981l99.044-38.465c7.415-2.88,11.089-11.218,8.208-18.632
    		c-2.872-7.405-11.214-11.11-18.633-8.207l-99.044,38.465c-7.409,2.881-11.083,11.218-8.207,18.633
    		C513.87,242.991,519.312,246.485,525.083,246.485z"/>
    	<path d="M525.083,313.631c1.734,0,3.49-0.312,5.21-0.98l99.044-38.465c7.415-2.881,11.089-11.218,8.208-18.632
    		c-2.872-7.406-11.214-11.106-18.633-8.208l-99.044,38.465c-7.409,2.881-11.083,11.218-8.207,18.633
    		C513.87,310.142,519.312,313.631,525.083,313.631z"/>
    	<path d="M525.083,380.777c1.734,0,3.49-0.313,5.21-0.98l99.044-38.466c7.415-2.88,11.089-11.218,8.208-18.632
    		c-2.872-7.406-11.214-11.102-18.633-8.207l-99.044,38.465c-7.409,2.881-11.083,11.218-8.207,18.632
    		C513.87,377.288,519.312,380.777,525.083,380.777z"/>
    	<path d="M442.136,218.664l-99.043-38.465c-7.446-2.912-15.765,0.793-18.632,8.207c-2.881,7.41,0.793,15.752,8.207,18.632
    		l99.044,38.465c1.716,0.667,3.477,0.981,5.21,0.981c5.771,0,11.214-3.49,13.427-9.188
    		C453.22,229.882,449.546,221.545,442.136,218.664z"/>
    	<path d="M442.136,285.811l-99.043-38.465c-7.446-2.908-15.765,0.797-18.632,8.208c-2.881,7.41,0.793,15.751,8.207,18.632
    		l99.044,38.465c1.716,0.668,3.477,0.98,5.21,0.98c5.771,0,11.214-3.489,13.427-9.188
    		C453.22,297.028,449.546,288.691,442.136,285.811z"/>
    	<path d="M442.136,352.957l-99.043-38.465c-7.446-2.904-15.765,0.797-18.632,8.207c-2.881,7.41,0.793,15.752,8.207,18.632
    		l99.044,38.466c1.716,0.667,3.477,0.98,5.21,0.98c5.771,0,11.214-3.489,13.427-9.188
    		C453.22,364.18,449.546,355.838,442.136,352.957z"/>
    </g>
    </svg>
  </a>

  <a href="/information" id="information">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="960px" height="560px" viewBox="0 0 960 560" enable-background="new 0 0 960 560" xml:space="preserve">
    <path d="M516,56c-19.334,0-35,15.666-35,35s15.666,35,35,35s35-15.666,35-35S535.334,56,516,56z M467,154c-30.8,0-56,25.2-56,56v14
    	h14v-14c0-11.2,9.8-21,21-21s21,11.2,21,21s-56,207.2-56,238s25.2,56,56,56s56-25.2,56-56v-14h-14v14c0,11.2-9.8,21-21,21
    	s-21-9.8-21-21s56-210,56-238S497.8,154,467,154z"/>
    </svg>
  </a>

  <a id="settings" href="settings">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="960px" height="560px" viewBox="0 0 960 560" enable-background="new 0 0 960 560" xml:space="preserve">
    <path d="M481,78.4c-8.153,0-16.363,0.636-24.5,1.54c-5.209,0.579-9.66,5.131-9.66,11.06v31.92c0,4.447-3.612,9.072-8.12,10.36
      c-11.063,3.161-21.609,7.117-31.08,12.6c-4.625,2.678-9.534,2.105-13.3-1.54l-23.1-22.26c-4.16-4.026-10.142-4.268-14.7-0.7
      c-12.491,9.776-23.764,21.576-34.16,34.16c-3.687,4.463-2.944,10.934,0.7,14.7l22.26,23.1c3.301,3.411,3.856,8.9,1.54,13.3
      c-5.097,9.684-9.572,19.979-12.6,31.08c-1.419,5.206-5.171,8.12-10.36,8.12H292c-5.929,0-10.435,3.717-11.06,9.66
      c-0.857,8.142-1.54,16.347-1.54,24.5c0,8.152,0.636,16.363,1.54,24.5c0.579,5.209,5.131,9.66,11.06,9.66h31.92
      c4.447,0,9.072,3.613,10.36,8.119c3.161,11.064,7.117,21.609,12.6,31.08c2.678,4.626,2.105,9.534-1.54,13.301l-22.26,23.1
      c-4.026,4.16-4.268,10.142-0.7,14.7c9.776,12.491,21.576,23.765,34.16,34.16c4.463,3.687,10.934,2.944,14.7-0.7l23.1-22.26
      c3.411-3.301,8.9-3.855,13.3-1.54c9.684,5.097,19.979,9.572,31.08,12.6c5.206,1.42,8.12,5.172,8.12,10.36V469
      c0,5.93,3.718,10.435,9.66,11.06c8.142,0.857,16.347,1.54,24.5,1.54s16.363-0.636,24.5-1.54c5.209-0.578,9.66-5.13,9.66-11.06
      v-31.92c0-4.447,3.612-9.072,8.12-10.36c11.063-3.161,21.609-7.116,31.08-12.6c4.625-2.678,9.533-2.104,13.3,1.54l23.1,22.26
      c4.16,4.025,10.142,4.268,14.7,0.7c12.491-9.776,23.765-21.576,34.16-34.16c3.687-4.463,2.944-10.934-0.7-14.7l-22.26-23.1
      c-3.301-3.41-3.855-8.9-1.54-13.301c5.097-9.684,9.572-19.979,12.6-31.08c1.42-5.205,5.172-8.119,10.36-8.119H670
      c5.93,0,10.435-3.717,11.06-9.66c0.857-8.142,1.54-16.348,1.54-24.5c0-8.153-0.636-16.363-1.54-24.5
      c-0.578-5.209-5.13-9.66-11.06-9.66h-31.92c-4.447,0-9.072-3.613-10.36-8.12c-3.161-11.063-7.116-21.609-12.6-31.08
      c-2.678-4.625-2.104-9.534,1.54-13.3l22.26-23.1c4.025-4.16,4.268-10.142,0.7-14.7c-9.776-12.491-21.576-23.764-34.16-34.16
      c-4.463-3.687-10.934-2.944-14.7,0.7l-23.1,22.26c-3.41,3.301-8.9,3.856-13.3,1.54c-9.685-5.097-19.979-9.572-31.08-12.6
      c-5.206-1.419-8.12-5.171-8.12-10.36V91c0-5.929-3.718-10.435-9.66-11.06C497.358,79.083,489.153,78.4,481,78.4z M480.3,179.2
      c55.589,0,100.8,45.211,100.8,100.8c0,55.588-45.211,100.8-100.8,100.8c-55.588,0-100.8-45.212-100.8-100.8
      C379.5,224.412,424.712,179.2,480.3,179.2z"/>
    </svg>
  </a>
</header>

<h1>About project</h1>

<p id="greeting">
  So you're curious, huh?
</p>

<div id="newsbox">
  <p>
    <strong>News Butler</strong> is a tool that aims to encourage regular news consumption. In the background the software collects permalinks to news content from two providers (New York Times and The Guardian at the moment). These articles are scanned by a text analytics software which then generates keywords. The the keywords are accumulated and sorted by number and date.
  </p>

  <p>
    On the front end the user enters his or her mail address and a time of day during which news consumption (or the reminder to do so) is welcome. At the set time a mail is sent to the user with a unique hyperlink which leads to his personal news overview for the day.
  </p>

  <p>
    You can find the source code and even more info on <a href="https://github.com/xushu42/news-butler" target="_blank">GitHub</a>.
  </p>

  <p>
    News Butler was created by <a href="https://twitter.com/ckoppelt" target="_blank">Christine Koppelt</a>, <a href="https://twitter.com/VBernlocher" target="_blank">Viola Bernlocher</a> and <a href="https://twitter.com/madd4mon" target="_blank">Henry Lai</a> during #djhack by <a href="http://medialab-bayern.de/" target="_blank">MediaLab Bayern</a>.
  </p>

  <p>
    <center>
      &copy; News Butler 2015
    </center>
  </p>
</div>
