<h1>Settings</h1>

<p id="greeting">
  Do you want to change something?
</p>

<div id="newsbox">
  <form>
    <label for="current-mail">Your current mail address: </label><input type="mail" name="current-mail" value="emmy@test.de" disabled>
    <br /><br />
    <label for="new-mail">Type in your new mail address: </label><input type="mail" name="new-mail">
    <br /><br />
    <button type="submit">Change the mail address</button>
  </form>
    <br /><br /><br /><br />
  <form>
    <label for="current-time">When do you want your news? </label><input type="time" name="current-time" value="emmy@test.de">
    <br /><br />
    <button type="submit">Change the news delivery time</button>
  </form>
</div>
